#cash-register-report-page {
    display: flex;
    flex-direction: column;
    height: calc(100% - 5px);
    background: #fff;
    margin: 5px 0 0 5px;
    padding: 8px;
}

#cash-register-report-page h3 {
    font-size: 2rem;
    color: var(--color-title-primary);
}

#cash-register-report-page .group-search {
    display: flex;
    align-items: center;
}

#cash-register-report-page .group-search-btn {
    display: flex;
    width: 100%;
}

#cash-register-report-page .group-search .button-simple {
    flex: 1;
    margin-left: 10px;
    background: var(--color-tertiary);
    border-color: var(--color-tertiary);
}

#cash-register-report-page .group-search .button-simple:first-child {
    background: var(--color-secondary);
    border-color: var(--color-secondary);
}

#cash-register-report-page .group-list {
    overflow: auto;
    height: calc(100vh - 230px);
    margin: 7px 0;
}

#cash-register-report-page .group-search :not(.ant-btn) {
    margin-right: 2px;
}

#cash-register-report-page .report-result-head .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

#cash-register-report-page .report-result-head .bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#cash-register-report-page .report-result-head .bottom .col {
    margin-right: 15px;
}

#cash-register-report-page .ant-table {
    border: 1px solid var(--color-text-base);
    max-width: calc(100vw - 78px);
    overflow: auto;
}

#cash-register-report-page .ant-table tr {
    font-weight: 400;
}

@media (max-width: 600px) {
    #cash-register-report-page .group-search {
        flex-direction: column;
    }

    #cash-register-report-page .group-search :not(.ant-btn) {
        margin-right: 0;
        margin-bottom: 2px;
    }

    #cash-register-report-page .group-search .button-simple {
        margin: 5px 2px;
    }

    #cash-register-report-page .group-list {
        height: calc(100vh - 185px);
    }
}