@import url('~antd/dist/antd.css');

:root {
  font-size: 60%;
}

:root {
  --color-background-light: #f0f0f7; 
  --color-background-dark: #0D0D0D;
  --color-card-light: #e6f7ff;
  --color-card-dark: #324359;
  --color-primary: #0511F2;
  --color-secondary: #1890ff;
  --color-tertiary: #0DA91C;
  --color-title-primary: #038C7F;
  --color-title-secondary: #1B7EA6;
  --color-title-tertiary: #DCEEF2;
  --color-text-base: #6a6180;
  --color-text-error: #d61212;
  --color-text-secondary: #7B7B7B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background-light);
}

/* #root {
  display: flex;
  align-items: center;
  justify-content: center;
} */

body, input, button, textarea {
  font: 500 1.6rem Roboto;
  color: var(--color-text-base);
}

.input-simple {
  border-radius: 2px;
}

.button-simple {
  height: 40px;
  border-radius: 2px;
  width: 100%;
}

.ant-btn {
  text-transform: uppercase;
}

.ant-alert {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
}

.ant-select {
  width: 100%;
}

.ant-picker {
  width: 100%;
}

@media (min-width: 700px) {
  :root {
      font-size: 62.5%;
  }
}