#main-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-page header {
    background: var(--color-card-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 60px;
}

#main-page header img {
    width: 110px;
    height: 60px;
}

#main-page main {
    display: flex;
    flex-grow: 1;
}

#main-page main .ant-menu-inline-collapsed {
    width: 55px;
}

#main-page .lateral-menu {
    display: flex;
    flex-direction: column;
}

#main-page .lateral-menu ul {
    flex: 1;
}

#main-page main .ant-menu li span {
    font-size: 1.9rem;
}

#main-page main .page-container {
    flex-grow: 1;
}

.modal-profile .profile-header {
    display: flex;
    margin-bottom: 5px;
}

.modal-profile .profile-header .anticon-user{
    font-size: 10rem;
    color: var(--color-title-secondary);
    border: 1px solid var(--color-title-tertiary);
    background: var(--color-title-tertiary);
    border-radius: 50%;
    padding: 1.3rem;
    margin-right: 10px;
}

.modal-profile .profile-header .col {
    flex: 1;
}

.modal-profile .profile-header .col .ant-row {
    margin-bottom: 3px;
}

.modal-profile .profile-main .ant-row {
    margin-bottom: 3px;
}

.modal-profile .profile-main .col {
    display: flex;
}

.modal-profile .profile-main .col .ant-row {
    width: 50%;
}

.modal-profile .profile-main .col .ant-row:first-child {
    margin-right: 3px;
}

.modal-profile .profile-password .ant-row {
    margin-bottom: 3px;
}

.modal-profile .profile-password button {
    margin-top: 10px;
}