#main-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-page header {
    background: var(--color-card-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 60px;
}

#main-page header img {
    width: 110px;
    height: 60px;
}

#main-page main {
    display: flex;
    flex-grow: 1;
}

#main-page main .ant-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}

#main-page main .ant-menu li span {
    font-size: 1.9rem;
}

#main-page main .ant-menu .ant-menu-expand-button {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
}

#main-page main .page-container {
    flex-grow: 1;
}