#main-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-page header {
    background: var(--color-card-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 60px;
}

#main-page header img {
    width: 110px;
    height: 60px;
}

#main-page main {
    display: flex;
    flex-grow: 1;
}

#main-page main .ant-menu-inline-collapsed {
    width: 55px;
}

#main-page .lateral-menu {
    display: flex;
    flex-direction: column;
}

#main-page .lateral-menu ul {
    flex: 1;
}

#main-page .lateral-menu .lateral-menu-expand-button {
    background: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #dde0e2;
    padding: 7px 0;
}

#main-page .lateral-menu .lateral-menu-expand-button span {
    height: 32px;
    display: flex;
    align-items: center;
}

#main-page .lateral-menu .lateral-menu-expand-button svg {
    transition: .5s;
    font-size: 20px;
}

#main-page .lateral-menu .lateral-menu-expand-button svg:hover {
    filter: brightness(.6);
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    cursor: pointer;
}

#main-page main .ant-menu li span {
    font-size: 1.9rem;
}

#main-page main .page-container {
    flex-grow: 1;
}

@media (max-width: 600px) {
    #main-page main .lateral-menu .lateral-menu-expand-button {
        display: none;
    }
}